:root {
  /* colors */
  --darker: #7f3608;
  --dark: #8f5e1e;
  --light: #daa972;
  --light-gray: #c7c6c6;
  --lighter-gray: #ccc;
  --yellow: #dad735;
  --success: #5c9210;
  --danger: #944317;
  --light-blue: #40a4c8;
  /* z-indexs */
  --z-index-SideDrawer: 200;
  --z-index-Backdrop: 100;
  --z-index-Toolbar: 90;
  --z-index-Modal: 500;
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
